extends layout

block content
  // Navigation
  nav.navbar.navbar-light.bg-light.static-top
    .container
      a.navbar-brand(href='../login') 
      a.btn.btn-primary(href='../login') Login
    // Masthead
  header.masthead.text-white.text-center
    .overlay
    .container
      .row
        .col-xl-9.mx-auto
          h1.mx-auto.my-0.text-uppercase Red bicicletas
          h2.text-white-50.mx-auto.mt-2.mb-5 La primera comunidad online de ciclistas urbanos.
          a.btn.btn-primary.js-scroll-trigger(href='/bicicletas') Comenzar
          // Icons Grid
  section.features-icons.bg-light.text-center
    .container
      #main_map 
  
  // Call to Action
  section.call-to-action.text-white.text-center
    .overlay
    .container
      .row
        .col-xl-9.mx-auto
          h2.mb-4 Ready to get started? Sign up now!
        .col-md-10.col-lg-8.col-xl-7.mx-auto
          form
            .form-row
              .col-12.col-md-9.mb-2.mb-md-0
                input.form-control.form-control-lg(type='email' placeholder='Enter your email...')
              .col-12.col-md-3
                button.btn.btn-block.btn-lg.btn-primary(type='submit') Sign up!
  // Footer
  footer.footer.bg-light
    .container
      .row
        .col-lg-6.h-100.text-center.text-lg-left.my-auto
          ul.list-inline.mb-2
            li.list-inline-item
              a(href='#') About
            li.list-inline-item &sdot;
            li.list-inline-item
              a(href='#') Contact
            li.list-inline-item &sdot;
            li.list-inline-item
              a(href='#') Terms of Use
            li.list-inline-item &sdot;
            li.list-inline-item
              a(href='#') Privacy Policy
          p.text-muted.small.mb-4.mb-lg-0 &copy; Your Website 2020. All Rights Reserved.
        .col-lg-6.h-100.text-center.text-lg-right.my-auto
          ul.list-inline.mb-0
            li.list-inline-item.mr-3
              a(href='#')
                i.fab.fa-facebook.fa-2x.fa-fw
            li.list-inline-item.mr-3
              a(href='#')
                i.fab.fa-twitter-square.fa-2x.fa-fw
            li.list-inline-item
              a(href='#')
                i.fab.fa-instagram.fa-2x.fa-fw
  // Bootstrap core JavaScript
  script(src='/vendor/jquery/jquery.min.js')
  script(src='/vendor/bootstrap/js/bootstrap.bundle.min.js')
  script(src='/javascripts/map.js')